<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=title%>
    </title>
    <link rel="stylesheet" href="../../css/theme.css">
    <link rel="stylesheet" href="../../css/style.css">
</head>

<body>
    <div class="w3-container">
        <div class="w3-col w3-center">
            <div class="error-box">
                <h1>404!</h1>
                <h3>Oops, page not found...</h3>
            </div>
        </div>
    </div>
</body>

</html>