<%- include('header') %>
    <div class="w3-row">
        <div class="w3-col w3-margin-top w3-margin-bottom">
            <div class="w3-col w3-padding-small">
                <div class="w3-col w3-white w3-round w3-card-2 w3-margin-top">
                    <h3 class="w3-padding w3-margin-top">User Detail</h3>

                    <form id="frm1" method="post" action="/adduser" class="w3-col w3-padding">
                        <div class="w3-col w3-padding-small w3-margin-bottom">
                            <div class="w3-col l6 m6 w3-padding-small w3-margin-bottom">
                                <label for="">First name</label>
                                <input name="fname" type="text" class="w3-input w3-round w3-padding w3-border"
                                    placeholder="First name" required>
                            </div>
                            <div class="w3-col l6 m6 w3-padding-small w3-margin-bottom">
                                <label for="">Last name</label>
                                <input name="lname" type="text" class="w3-input w3-round w3-padding w3-border"
                                    placeholder="Last name" required>
                            </div>

                            <div class="w3-col l6 m6 w3-padding-small w3-margin-bottom">
                                <label for="">Email address</label>
                                <input name="email" type="email" class="w3-input w3-round w3-padding w3-border"
                                    placeholder="user@w3workers.com" required>
                            </div>
                            <div class="w3-col l6 m6 w3-padding-small w3-margin-bottom">
                                <label for="">Mobile number</label>
                                <input name="mobile" type="text" class="w3-input w3-round w3-padding w3-border"
                                    placeholder="10 digit mobile number" minlength="10" maxlength="10" required>
                            </div>

                            <div class="w3-col w3-padding-small">
                                <label for="">Create password</label>
                                <input id="new_pass" name="new_pass" type="password"
                                    class="w3-input w3-round w3-padding w3-border" placeholder="Minimum 8 digits"
                                    minlength="8" maxlength="20" required>
                            </div>
                            <div class="w3-col w3-padding-small">
                                <label for="">Re-enter password</label>
                                <input id="repeat_pass" name="repeat_pass" type="password"
                                    class="w3-input w3-round w3-padding w3-border" placeholder="Minimum 8 digits"
                                    minlength="8" maxlength="20" required>
                            </div>
                        </div>

                        <div class="w3-col w3-padding-small w3-margin-bottom w3-center">
                            <p class="w3-text-grey">By clicking on create user button below you confirm that the
                                details provided above is correct.</p>
                            <button id="create_btn"
                                class="w3-button w3-margin-top w3-round w3-indigo w3-hover-indigo w3-hover-opacity">Create
                                New User</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <%- include('footer') %>

        <script>
            $(document).ready(function () {
                var frm1 = $('#frm1');
                frm1.submit(function (e) {
                    e.preventDefault();

                    if ($('#repeat_pass').val() == $('#new_pass').val()) {
                        $('#create_btn').attr('disabled', true).text('Please wait...')

                        $.ajax({
                            type: frm1.attr('method'),
                            url: frm1.attr('action'),
                            data: frm1.serialize()
                        }).done(function (data) {
                            $('#create_btn').attr('disabled', false).text('Create New User')
                            if (data > 0) {
                                $('.cbody').empty().append(`<div class="w3-col w3-padding-16">
                                    <div class="w3-col w3-padding"><h5>User added successfully</h5></div>
                                </div>`)
                            }
                            else {
                                $('#err').text('Oops, email address already in use!')
                            }
                            $('.w3-modal, .pop').show()
                            $('input').val('')
                        })
                    }
                    else {
                        $('.cbody').empty().append(`<div class="w3-col w3-padding-16">
                            <div class="w3-col w3-padding"><h5>Oops, password do not match!</h5></div>
                        </div>`)
                        $('.w3-modal, .pop').show()
                    }
                });

                $('#spinner').hide()
            });
        </script>