<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../../imgs/logo.png">
    <title>
        <%=title%>
    </title>
    <link rel="stylesheet" href="../../css/theme.css">
    <link rel="stylesheet" href="../../css/dash.css">
</head>

<body>
    <div id="sidebar" class="w3-sidebar w3-bar-block w3-card-2 w3-indigo">
        <div class="w3-padding-small w3-padding">
            <div class="w3-center logo">
                <img src="/imgs/logo.png" alt="">
                <h2 class="w3-text-white">
                    <%=title%>
                </h2>
            </div>
        </div>

        <a href="/admin" class="w3-bar-item w3-button w3-hover-light-grey menu_active">
            <span class="material-symbols-outlined">space_dashboard</span>
            <span>Dashboard</span>
        </a>
        <a href="/admin/users" class="w3-bar-item w3-button w3-hover-light-grey">
            <span class="material-symbols-outlined">group</span>
            <span>List Users</span>
        </a>
        <a href="/admin/add-user" class="w3-bar-item w3-button w3-hover-light-grey">
            <span class="material-symbols-outlined">person_add</span>
            <span>Add User</span>
        </a>
        <a href="/admin/users" class="w3-bar-item w3-button w3-hover-light-grey">
            <span class="material-symbols-outlined">person_remove</span>
            <span>Remove User</span>
        </a>
        <a href="/admin/settings" class="w3-bar-item w3-button w3-hover-light-grey">
            <span class="material-symbols-outlined">settings</span>
            <span>Settings</span>
        </a>
    </div>

    <div class="container">
        <div class="w3-white w3-card-2 w3-border-bottom header">
            <div class="w3-container">
                <div class="w3-row">
                    <div class="w3-col w3-padding-small">
                        <button id="menu" class="w3-indigo w3-margin-left w3-card-2 w3-round">
                            <span class="material-symbols-outlined">menu</span>
                        </button>

                        <h3 id="main_logo" class="w3-left w3-margin-top w3-large">
                            <span id="welcome"></span>
                        </h3>
                        <a id="signout" href="#" class="w3-right w3-margin w3-large">
                            <span class="material-symbols-outlined">logout</span>
                            <span>Logout</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Page Content -->
        <div class="w3-container w3-padding-16">
            <div class="w3-row">
                <h3 class="w3-padding-small w3-margin-top breadcrump"><span>Admin</span> / <span>
                        <%=page%>
                    </span>
                </h3>
            </div>

            <div class="w3-row">
                <div class="w3-col w3-margin-top w3-margin-bottom">
                    <div class="w3-col l3 m3 w3-padding-small w3-margin-bottom">
                        <div class="w3-col w3-padding-16 w3-card-2 w3-round w3-center w3-deep-purple">
                            <h1 id="total_users">0</h1>
                            <h4>Total Users</h4>
                        </div>
                    </div>

                    <div class="w3-col l3 m3 w3-padding-small w3-margin-bottom">
                        <div class="w3-col w3-padding-16 w3-card-2 w3-round w3-center w3-purple">
                            <h1 id="active_users">0</h1>
                            <h4>Active Users</h4>
                        </div>
                    </div>

                    <div class=" w3-col l3 m3 w3-padding-small w3-margin-bottom">
                        <div class="w3-col w3-padding-16 w3-card-2 w3-round w3-center w3-pink">
                            <h1 id="pending_users">0</h1>
                            <h4>Pending Users</h4>
                        </div>
                    </div>

                    <div class="w3-col l3 m3 w3-padding-small w3-margin-bottom">
                        <div class="w3-col w3-padding-16 w3-card-2 w3-round w3-center w3-red">
                            <h1 id="recent_users">0</h1>
                            <h4>Added Today</h4>
                        </div>
                    </div>

                    <div class="w3-col w3-padding-small">
                        <div class="w3-col w3-white w3-round w3-card-2 w3-margin-top">
                            <h3 class="w3-padding w3-margin-top">Recently Added Users</h3>

                            <div class="w3-responsive w3-margin-top w3-margin-bottom">
                                <table id="tbl1" class="w3-table w3-bordered not-middle"></table>
                            </div>
                        </div>
                    </div>

                    <div class="w3-col w3-padding-small">
                        <div class="w3-col w3-white w3-round w3-card-2 w3-margin-top">
                            <h3 class="w3-padding w3-margin-top">Pending Users</h3>

                            <div class="w3-responsive w3-margin-top w3-margin-bottom">
                                <table id="tbl2" class="w3-table w3-bordered not-middle"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="w3-container w3-center w3-border-top w3-padding footer">Copyright <span id="cy">2025</span>, All
        rights reserverd. <a href="https://w3workers.com" target="_search" class="w3-text-indigo">w3workers.com</a>
    </div>

    <div class="w3-modal">
        <div id="message" class="w3-modal-content w3-animate-bottom w3-round w3-card-2 pop" style="max-width: 450px;">
            <header class="w3-container w3-round  w3-indigo">
                <h4 class="w3-padding">Message</h4>

                <a href="#" class="w3-button w3-padding-small w3-round-xxlarge tp w3-hover-text-red close">
                    <span class="w3-left material-symbols-outlined">close</span>
                </a>
            </header>

            <div class="w3-container cbody">
                <form id="frm1" method="post" action="/generatetrialkey" class="w3-col w3-padding-small w3-padding-16">
                    <input type="hidden" id="_whatsapp" name="whatsapp">
                    <div class="w3-col w3-padding-small w3-margin-bottom">
                        <label for="">USDT Amount</label>
                        <input name="mint_amount" type="text" class="w3-input w3-round w3-padding w3-border"
                            placeholder="1" required>
                    </div>

                    <div class="w3-col w3-padding-small w3-margin-bottom">
                        <label for="">WhatsApp</label>
                        <input id="whatsapp" type="text" class="w3-input w3-round w3-padding w3-border w3-white"
                            disabled placeholder="+91xxxxxxxxxx" required>
                    </div>

                    <div class="w3-col w3-padding-small w3-margin-bottom w3-center">
                        <button id="generate_license"
                            class="w3-button w3-round w3-indigo w3-hover-indigo w3-hover-opacity w3-block">Generate
                            License</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="spinner">
        <div class="spin_container">
            <span class="spinner"></span>
        </div>
    </div>
    <div class="mask"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
    <script src="//cdn.datatables.net/2.1.8/js/dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            let dt = new Date()
            let yr = dt.getFullYear()
            $('#cy').text(yr)

            // $('.w3-modal, #message').show()

            $('#menu').on('click', function () {
                $('.mask').show()
                $('#sidebar').css('left', '0')
            })
            $('.mask').on('click', function () {
                $('.mask').hide()
                $('#sidebar').css('left', '-250px')
            })

            $('.close').on('click', function (e) {
                e.preventDefault()
                $('.w3-modal, #message').hide()
            })

            $.get('/getusers', (d) => {
                console.log(d)

                let tbl = $('#tbl1, #tbl2');
                tbl.DataTable().destroy();
                tbl.empty().append(`<thead>
                    <th>#</th>
                    <th>Creation</th>
                    <th>Full name</th>
                    <th>Mobile</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th></th>
                </thead><tbody>`)

                let total_users = 0,
                    active_users = 0,
                    pending_users = 0,
                    recent_users = 0;

                for (let i = 0; i < d.length; i++) {
                    total_users += 1;

                    if (d[i].status == 'active') {
                        active_users += 1;
                        console.log('active')
                    }
                    if (d[i].status == 'pending') {
                        pending_users += 1;
                    }

                    const today = moment.utc().startOf('day');
                    var date = moment.utc(d[i].request_time);
                    var creation = date.local().format('DD/MM/YY h:mm A');
                    const isToday = date.isSame(today, 'day');
                    if (isToday) {
                        recent_users += 1

                        tbl.append(`<tr>
                        <td>${i + 1}</td>
                        <td style="min-width:150px;">${creation}</td>
                        <td style="min-width:175px;">${d[i].fname} ${d[i].lname}</td>
                        <td>${d[i].mobile}</td>
                        <td>${d[i].email}</td>
                        <td id="status${i}" style="text-transform: capitalize;">${d[i].status}</td>
                        <td style="min-width:100px;">
                            <span class="w3-button w3-orange w3-hover-orange w3-round material-symbols-outlined">edit</span>
                            <span class="w3-button w3-red w3-hover-red w3-round material-symbols-outlined">close</span>
                        </td>
                    </tr>`)

                        if (d[i].status == 'active') {
                            $(`#status${i}`).addClass('w3-text-green');
                        }
                        else {
                            $(`#status${i}`).addClass('w3-text-orange');
                        }
                    }

                    $('#total_users').text(total_users)
                    $('#active_users').text(active_users)
                    $('#pending_users').text(pending_users)
                    $('#recent_users').text(recent_users)

                    // $(`#gen_lic${i}`).on('click', function () {
                    //     $('#whatsapp, #_whatsapp').val(d[i].whatsapp)
                    //     $('.w3-modal, .pop').show()
                    // })
                }
                tbl.append('</tbody>')

                tbl.DataTable({
                    "bPaginate": true,
                    "bLengthChange": false,
                    "bInfo": false,
                    "bAutoWidth": false,
                    "ordering": false,
                    "dom": 'Bfrtip',
                    "bFilter": false,
                    // "language": {
                    //     "search": "",
                    //     "searchPlaceholder": "Search records"
                    // },                    
                    // "buttons": [
                    //     {
                    //         "title": 'Books by case',
                    //         "extend": 'csv',
                    //         "text": 'Export CSV',
                    //         "className": 'w3w-button w3w-deep-orange w3w-round w3w-right w3w-margin-top w3w-margin-right',
                    //     }
                    // ]
                });
            })

            $('#spinner').hide()

            var frm1 = $('#frm1');
            frm1.submit(function (e) {
                e.preventDefault();
                $('#generate_license').attr('disabled', true).text('Wait...')

                $.ajax({
                    type: frm1.attr('method'),
                    url: frm1.attr('action'),
                    data: frm1.serialize()
                }).done(function (data) {
                    $('#generate_license').attr('disabled', false).text('Generate License')
                    $('.pop .cbody').empty().append(`
                    <div class="w3-col w3-padding-small w3-margin-bottom">
                        <h3>Success!</h3>
                        <p>License Key: ${data.licence_key}</p>
                    </div>`)
                })
            });

            $('#signout').on('click', function (e) {
                e.preventDefault()
                $.get('/logout', (d) => {
                    window.location.reload()
                })
            })
        });
    </script>

</body>

</html>