<%- include('header') %>
    <div class="w3-row">
        <div class="w3-col w3-margin-top w3-margin-bottom">
            <div class="w3-col w3-padding-small">
                <div class="w3-col w3-white w3-round w3-card-2 w3-margin-top">
                    <h3 class="w3-padding w3-margin-top">Password Manager</h3>

                    <form id="frm1" method="post" action="/changepassword" class="w3-col l4 m4 w3-padding">
                        <div class="w3-col w3-margin-bottom">
                            <label for="">Current password</label>
                            <input name="current_pass" type="password"
                                class="w3-input w3-round w3-padding w3-border w3-margin-bottom"
                                placeholder="Current password" required>

                            <label for="">New password</label>
                            <input name="new_pass" type="password" class="w3-input w3-round w3-padding w3-border"
                                placeholder="Minimum 8 digits" minlength="8" maxlength="64" required>
                        </div>

                        <div class="w3-col w3-margin-bottom w3-center">
                            <button id="update_pass"
                                class="w3-button w3-round w3-indigo w3-hover-indigo w3-hover-opacity w3-block">Update
                                Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <%- include('footer') %>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <script>
            $(document).ready(function () {
                var frm = $('#frm1');
                frm.submit(function (e) {
                    e.preventDefault();
                    $('#update_pass').attr('disabled', true).text('Please wait...')

                    $.ajax({
                        type: frm.attr('method'),
                        url: frm.attr('action'),
                        data: frm.serialize()
                    }).done(function (data) {
                        $('#update_pass').attr('disabled', false).text('Update Password')
                        if (data > 0) {
                            $('.cbody').empty().append(`<div class="w3-col w3-padding-16">
                                <div class="w3-col w3-padding"><h5>Password updated successfully, now login with your new password.</h5></div>
                            </div>`)
                            $('input').val('');
                            setTimeout(() => {
                                $.get('/logout', (d) => {
                                    window.location.reload()
                                })
                            }, 3000);
                        }
                        else {
                            $('.cbody').empty().append(`<div class="w3-col w3-padding-16">
                                <div class="w3-col w3-padding"><h5>Oops, you have entered wrong current password!</h5></div>
                            </div>`)
                        }
                        $('.w3-modal, .pop').show()
                    })
                });

                $('#spinner').hide()
            });
        </script>