<%- include('header') %>

    <div class="w3-row">
        <div class="w3-col w3-margin-top w3-margin-bottom">
            <div class="w3-col w3-padding-small">
                <div class="w3-col w3-white w3-round w3-card-2 w3-margin-top">
                    <h3 class="w3-padding w3-margin-top">Total Users <span id="total_users">0</span></h3>

                    <div class="w3-responsive w3-margin-bottom">
                        <table id="tbl1" class="w3-table w3-bordered"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('footer') %>

        <script>
            $(document).ready(function () {
                function gettotalusers() {
                    $.get('/getusers', (d) => {
                        $('#total_users').text(d.length);

                        let tbl = $('#tbl1');
                        tbl.DataTable().destroy();
                        tbl.empty().append(`<thead>
                        <th>#</th>
                        <th>Creation</th>
                        <th>Full name</th>
                        <th>Mobile</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th></th>
                    </thead><tbody>`)

                        for (let i = 0; i < d.length; i++) {
                            var date = moment.utc(d[i].creation),
                                creation = date.local().format('DD/MM/YY h:mm A');

                            tbl.append(`<tr>
                                <td>${i + 1}</td>
                                <td style="min-width:150px;">${creation}</td>
                                <td style="min-width:175px;">${d[i].fname} ${d[i].lname}</td>
                                <td>${d[i].mobile}</td>
                                <td>${d[i].email}</td>
                                <td id="status${i}" style="text-transform: capitalize;">${d[i].status}</td>
                                <td style="min-width:100px;">
                                    <span id="edit_${i}" class="w3-button w3-white w3-border w3-border-green w3-text-green w3-hover-green w3-round material-symbols-outlined">edit</span>
                                    <span id="remove_${i}" class="w3-button w3-white w3-border w3-border-red w3-text-red w3-hover-red w3-round material-symbols-outlined">close</span>
                                </td>
                            </tr>`);

                            if (d[i].status == 'active') {
                                $(`#status${i}`).addClass('w3-text-green');
                            }
                            else {
                                $(`#status${i}`).addClass('w3-text-orange');
                            }

                            $(`#edit_${i}`).on('click', function () {
                                $('#message header h4').text(`Update User Details #${i + 1}`);

                                $('.cbody').empty().append(`<form id="frm1" method="post" action="/updateuser" class="w3-col w3-padding-small w3-padding-16">
                                    <input type="hidden" name="slno" value=${d[i].slno}>
                                    <div class="w3-col w3-padding-small w3-margin-bottom">
                                        <label for="">Status</label>
                                        <select id="status" name="status" class="w3-input w3-round w3-padding w3-border">
                                            <option value="active">Active</option>
                                            <option value="pending">Pending</option>
                                        </select>
                                    </div>

                                    <div class="w3-col l6 m6 w3-padding-small w3-margin-bottom">
                                        <label for="">First name</label>
                                        <input name="fname" type="text" class="w3-input w3-round w3-padding w3-border" placeholder="First name" value="${d[i].fname}" required>
                                    </div>
                                    <div class="w3-col l6 m6 w3-padding-small w3-margin-bottom">
                                        <label for="">Last name</label>
                                        <input name="lname" type="text" class="w3-input w3-round w3-padding w3-border" placeholder="Last name" value="${d[i].lname}" required>
                                    </div>

                                    <div class="w3-col w3-padding-small w3-margin-bottom">
                                        <label for="">Email address</label>
                                        <input name="email" type="email" class="w3-input w3-round w3-padding w3-border" placeholder="user@w3workers.com" value="${d[i].email}" required>
                                    </div>
                                    <div class="w3-col w3-padding-small w3-margin-bottom">
                                        <label for="">Mobile</label>
                                        <input name="mobile" type="text" class="w3-input w3-round w3-padding w3-border" placeholder="10 digit mobile number" minlength=10 maxlength=10 value="${d[i].mobile}" required>
                                    </div>
                                    
                                    <div class="w3-col w3-padding-small w3-margin-bottom">
                                        <label for="">New password</label>
                                        <input id="new_pass" name="new_pass" type="password" class="w3-input w3-round w3-padding w3-border" placeholder="Minimum 8 digits" minlength="8" maxlength="64">
                                    </div>
                                    <div class="w3-col w3-padding-small w3-margin-bottom">
                                        <label for="">Re-enter password</label>
                                        <input id="reenter_pass" name="reenter_pass" type="password" class="w3-input w3-round w3-padding w3-border" placeholder="Re-enter password" minlength="8" maxlength="64">
                                    </div>

                                    <div class="w3-col w3-padding-small w3-margin-bottom w3-center">
                                        <p id="err"></p>
                                        <button id="update_user" class="w3-button w3-round w3-indigo w3-hover-indigo w3-hover-opacity w3-block">Save Chanes</button>
                                    </div>
                                </form>`);

                                $('#status').val(d[i].status);
                                $('.w3-modal, #message').show()

                                var frm = $('#frm1');
                                frm.submit(function (e) {
                                    e.preventDefault();

                                    if ($('#new_pass').val() || $('#reenter_pass').val()) {
                                        if ($('#reenter_pass').val() == $('#new_pass').val()) {
                                            $('#update_user').attr('disabled', true).text('Please wait...')

                                            $.ajax({
                                                type: frm.attr('method'),
                                                url: frm.attr('action'),
                                                data: frm.serialize()
                                            }).done(function (data) {
                                                $('#update_user').attr('disabled', false).text('Save Changes')

                                                if (data > 0) {
                                                    $('#message header h4').text('Message')
                                                    gettotalusers()

                                                    $('.cbody').empty().append(`<div class="w3-col w3-padding-16">
                                                    <div class="w3-col w3-padding"><h5>User details updated successfully.</h5></div>
                                                </div>`)
                                                }
                                                else {
                                                    $('#err').text('Oops, email address already in use!').addClass('w3-text-deep-orange w3-margin-bottom')
                                                }
                                            })
                                        }
                                        else {
                                            $('#err').text('Oops, passwords do not match!').addClass('w3-text-deep-orange w3-margin-bottom')
                                        }
                                    }
                                    else {
                                        $('#update_user').attr('disabled', true).text('Please wait...')

                                        $.ajax({
                                            type: frm.attr('method'),
                                            url: frm.attr('action'),
                                            data: frm.serialize()
                                        }).done(function (data) {
                                            $('#update_user').attr('disabled', false).text('Save Changes')

                                            if (data > 0) {
                                                $('#message header h4').text('Message')
                                                gettotalusers()
                                                $('.cbody').empty().append(`<div class="w3-col w3-padding-16">
                                                <div class="w3-col w3-padding"><h5>User details updated successfully</h5></div>
                                            </div>`)
                                            }
                                            else {
                                                $('#err').text('Oops, email address already in use!').addClass('w3-text-deep-orange w3-margin-bottom')
                                            }
                                        })
                                    }
                                });
                            })

                            $(`#remove_${i}`).on('click', function () {
                                $('#message header h4').text(`Message`);
                                $('.cbody').empty().append(`<div class="w3-col w3-padding-16">
                                    <div class="w3-col w3-padding">
                                        <h5>Are you sure you want to remove user #${i + 1}?</h5>

                                        <div class="w3-col w3-margin-top w3-center">
                                            <button id="remove_user" class="w3-button w3-round w3-red w3-hover-red w3-hover-opacity">Yes confirm</button>
                                        </div>
                                    </div>
                                </div>`)

                                $('.w3-modal, #message').show()

                                $('#remove_user').on('click', function () {
                                    $('#remove_user').attr('disabled', true).text('Please wait...')
                                    $.get('/removeuser', { slno: d[i].slno }, (d1) => {
                                        gettotalusers()
                                        $('.cbody').empty().append(`<div class="w3-col w3-padding-16">
                                            <div class="w3-col w3-padding"><h5>User #${i + 1} removed successfully.</h5></div>
                                        </div>`)
                                    })
                                })
                            })
                        }
                        tbl.append('</tbody>')
                        tbl.DataTable({
                            "bPaginate": true,
                            "bLengthChange": false,
                            "bInfo": false,
                            "bAutoWidth": false,
                            "ordering": false,
                            "dom": 'Bfrtip',
                            "bFilter": true,
                            "language": {
                                "search": "",
                                "searchPlaceholder": "Search user..."
                            },
                        });
                        $('.dt-buttons').remove()
                        $('.dt-search').addClass('w3-padding')
                        $('.dt-search input').addClass('w3-input w3-round w3-padding w3-border')

                        $('#spinner').hide()
                    })
                }
                gettotalusers();
            });
        </script>